
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title th:text="'Detalle de ' + ${producto.nombre}">Detalle del Producto</title>
  </head>

<body>
<div th:replace="~{home/links}"></div>

<!-- Topbar -->
<div th:replace="~{home/Topbar}"></div>


<!-- Detalle del Producto -->
<div class="container py-5">
  <div class="row">
    <div class="col-lg-6">
      <img th:src="${producto.imagen}" class="img-fluid" alt="Imagen del Producto">
    </div>
    <div class="col-lg-6">
      <h1 class="mb-3" th:text="${producto.nombre}"></h1>
      <h4 class="text-muted mb-3" th:text="'Precio: $' + ${producto.precio}"></h4>
      <p th:text="'Stock disponible: ' + ${producto.stock}"></p>
      <p>Categoria: <span th:text="${producto.categoria.tipo}"></span></p>
      <a href="/" class="btn btn-primary">Volver</a>
    </div>
  </div>
</div>

<!-- Footer -->
<div th:replace="~{home/Footer}"></div>
</body>

</html>