<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
   </head>

<body>
<div th:replace="~{home/links}"></div>

<div id="lottie-animation" style="width: 100%; height: 100%; background: white; position: fixed; top: 0; left: 0; z-index: 9999;"></div>

<!-- Topbar Start -->

<div th:replace="~{home/Topbar}"></div>


<!-- Carousel Start -->
<div th:replace="~{home/Carousel}"></div>

<!-- Products Start -->
<div th:replace="~{home/Products}"></div>

<!-- Footer Start -->
<div th:replace="~{home/Footer}"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.0/lottie.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Verificar si estamos en la ruta raíz "/"
        if (window.location.pathname === '/') {
            const animation = lottie.loadAnimation({
                container: document.getElementById('lottie-animation'),
                path: '/animations/logo.json',
                renderer: 'svg',
                loop: true,
                autoplay: true,
            });

            const tiempoVisible = 3000;

            setTimeout(() => {
                const animationContainer = document.getElementById('lottie-animation');
                animationContainer.style.opacity = 0;
                setTimeout(() => {
                    animationContainer.style.display = 'none';
                }, 500);
            }, tiempoVisible);
        } else {
            const animationContainer = document.getElementById('lottie-animation');
            animationContainer.style.display = 'none';
        }
    });
</script>



</body>

</html>
